:root {
    --element-bagground: #2d2d2d;
    --menu-bagground: #3d3d3d;
    --menuBaggroundHover: #727272;
    --Bagground: #ffffff;
    --PrimaryFormBagground: #0d6efd;

    --whiteText: #ffffff;
    --darkText: #000000;
    --failText: #ff0000;

    --boxShadow: 2px 2px 100px #8ff4fd;
}

/* LOGIN */
#loginContainer {
    padding-top: 100px;
}
.fail_log_in {
    color: var(--failText);
}
#login {
    background: var(--element-bagground);
    border-radius: 1em;
    padding: 3em;
    width: 450px;
    margin: 0 auto;
    box-shadow: var(--boxShadow);
}
.form-group {
    margin-bottom: 1em;
}
.form-header h1 {
    font-weight: bold;
    color: var(--whiteText);
}
.form-group label {
    font-weight: bold;
}
.form-group input {
    border-style: none;
}

/* HEADER */
.navbar-brand {
    font-weight: bolder;

}
.navbar-light {
    background: var(--element-bagground);
    padding-left: 4em;
    padding-right: 4em;
    color: var(--whiteText);
}
.nav-logo {
    text-decoration: none;
    color: var(--whiteText);
}

/* MENU */
.menu-container {
    display: flex;
    justify-content: space-between;
}
.menu {
    height: 75px;
    display: inline;
    text-align: center;
    background: var(--menu-bagground);
    width: 20%;
}
.menu:hover {
    background: var(--menuBaggroundHover);
}
.menu h4 {
    margin-top: 25px;
    color: var(--whiteText);
}
.menu-select {
    background: var(--Bagground);
    color: var(--darkText);
}
.menu-select h4 {
    color: var(--darkText);
}
.menu-link {
    text-decoration: none;
}

/* CONTENT */
.content {
    margin-top: 2em;
    padding-left: 7em;
    padding-right: 7em;
}
.content h1 {
    font-weight: bolder;
    margin-bottom: 0.5em;
}

/* LEASE */
.contract-form {
    width: 400px;
    margin-bottom: 0.5em;
}
.contract-form span {
    height: 3.5em;
    color: var(--PrimaryFormBagground);
}
.contract-form label {
    font-weight: bolder;
    color: var(--whiteText);
    margin-right: 2em;
}
.contract-form input {
    margin-right: 1em;
    height: 2em;
}
#create-lease {
    text-align: center;
    width: 6.5em;
}
.lease-form {
    background: var(--element-bagground);
    color: var(--whiteText);
    border-style: none;
    border-radius: 1em;
    box-shadow: var(--boxShadow)
}
.lease-form-header {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;

}
.lease-from-foot{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

/* car */
.car_exists{
    color: var(--failText);
}

.status_circle {
    width: 45px;
    height: 25px;
    position: relative;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
}

/* ADMIN */
.user-form{
    padding-right: 15em;
    margin-bottom: 2em;
}
.user-form a{
    color: var(--whiteText);
    text-decoration: none;
}
button a{
    color: var(--whiteText);
    text-decoration: none;
}

