:root {
    --ElementBagground: #ffc5c5;
    --menuBagground: #342323;
    --Bagground: #ffffff;


    --whiteText: #ffffff;
    --darkText: #000000;

}

/* Login CSS */

#loginContainer{
    padding-top: 100px;
}

#login{
    background: var(--ElementBagground);
    border-radius: 1em;
    padding: 3em;
    width: 450px;
    margin: 0 auto
}

.form-group{
    margin-bottom: 1em;
}

.form-header h1{
    font-weight: bold;
}

.form-group label{
    font-weight: bold;
}

.form-group input{
    border-style: none;
}


/* HEADER */

.navbar-brand{
    font-weight: bolder;
}

.navbar-light{
    background: var(--ElementBagground);
    padding-left: 4em;
    padding-right: 4em;
}

/* MENU( */
.menu-container{
    display: flex;
    justify-content: space-between;
}

.menu{
    height: 75px;
    display: inline;
    text-align: center;
    background: var(--menuBagground);
    width: 20%;
}

.menu h4 {
    margin-top: 25px;
    color: var(--whiteText);
}

.menu-select{
    background: var(--Bagground);
    color: var(--darkText);
}

.menu-select h4{
    color: var(--darkText);
}


