<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/styling.css" th:href="@{/static/styling.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div th:fragment="car_list(cars)">

    <div class="scrollable" style="height:150px; overflow-y: auto">
        <table>
            <tr>
                <th>status</th>
                <th>bil id</th>
                <th>farve</th>
                <th>producent</th>
                <th>type</th>
                <th>navn</th>
                <th>pris</th>
                <th>stelnummer</th>

            </tr>
            <tr th:each="car,iterStat : ${cars}">

                <td>
                    <a href="/forms/status_form"><div class="status_circle" style="background-color: orange;" th:text="${available_status_and_days[iterStat.index].daysLeft}">5</div></a>
                </td>
                <td th:text="${car.carID}"> test  id</td>
                <td th:text="${car.color}"> color</td>
                <td th:text="${car.manufacturer}"> </td>
                <td th:text="${car.carType}"> </td>
                <td th:text="${car.carName}"> </td>
                <td th:text="${car.carPricePerMonthDKK}"> </td>
                <td th:text="${car.chassisNumber}"> </td>
                <td th:text="${car.gearLevel}"> </td>
                <td th:text="${car.steelPriceDKK}"> </td>
                <td th:text="${car.registrationFeeDKK}"> </td>
                <td th:text="${car.CO2EmissionPerKM}"> </td>
                <td><button><a th:href="@{'/edit_car/' + ${car.chassisNumber}}">rediger</a></button></td>
                <td><button><a th:href="@{'/delete_car/' + ${car.chassisNumber}}">slet</a></button></td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>