<!DOCTYPE html> <!-- Tobias -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>page_menu</title>

    <link rel="stylesheet" th:href="@{/static/styling.css}" href="src/main/resources/CSS/styling.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styling.css" th:href="@{/static/styling.css}">

</head>
<body>

<nav class="menu-container" th:fragment="normal_menu">

    <div class="menu" th:unless="${location} == 'lease'">
        <a href="/lease" class="menu-link">
            <h4>Lease</h4>
        </a>
    </div>

    <div class="menu menu-select" th:if="${location} == 'lease'">
        <a class="menu-link">
            <h4>Lease</h4>
        </a>
    </div>



    <div class="menu" th:unless="${location} == 'car'">
        <a class="menu-link">
            <h4>Biler</h4>
        </a>
    </div>
    <div class="menu menu-select" th:if="${location} == 'car'">
        <a class="menu-link">
            <h4>Biler</h4>
        </a>
    </div>


    <div class="menu" th:unless="${location} == 'economy'">
        <a href="/car_stats" class="menu-link">
            <h4>Økonomi</h4>
        </a>
    </div>

    <div class="menu menu-select" th:if="${location} == 'economy'">
        <a class="menu-link">
            <h4>Økonomi</h4>
        </a>
    </div>

        <div class="menu" th:unless="${location} == 'damageRapport'">
            <a href="/damage_report_dashboard" class="menu-link">
                <h4>Skaderapport</h4>
            </a>
        </div>
        <div class="menu menu-select" th:if="${location} == 'damageRapport'">
            <a class="menu-link">
                <h4>Skaderapport</h4>
            </a>
        </div>

        <div class="menu" th:unless="${location} == 'admin'">
            <a th:href="@{'/administrator/' + ${session.logInName}}" class="menu-link">
                <h4>Admin</h4>
            </a>
        </div>


        <div class="menu menu-select" th:if="${location} == 'admin'">
            <a class="menu-link">
                <h4>Admin</h4>
            </a>
        </div>
    </nav>


    </body>
    </html>