<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>administration_page</title>
</head>
<body>
<header th:replace="fragments/headers :: header-normal">
header will be here
</header>

<table>
    <thead>
        <tr>
            <th>Medarbejder fornavn</th>
            <th>Medarbejder efternavn</th>
            <th>Medarbejder afdeling</th>
            <th th:if="${session.isTypeAdmin}">Medarbejder brugernavn</th>
        </tr>
    </thead>
    <tbody th:if="${session.delete}">
    <tr th:each="UserModel : ${userToBeDeleted}">
        <td th:text="${UserModel.firstName}">first name</td>
        <td th:text="${UserModel.lastName}">last name</td>
        <td th:text="${UserModel.employeeType}">department</td>
        <td th:text="${UserModel.logInName}">user name</td>
        <td><button><a th:href="@{'/final_delete_user/' + ${UserModel.logInName}}">SLET</a></button></td>
        <td><button><a th:href="@{'/regret_delete_user/' + ${UserModel.logInName}}">FORTRYD</a></button></td>
    </tbody>
    <tbody th:unless="${session.isTypeAdmin}">
    <tr th:each="UserModel : ${user}">
        <td th:text="${UserModel.firstName}">first name</td>
        <td th:text="${UserModel.lastName}">last name</td>
        <td th:text="${UserModel.employeeType}">department</td>
    </tr>
    </tbody>
    <tbody th:if="${session.isTypeAdmin}">
        <tr th:each="UserModel : ${user}">
            <td th:text="${UserModel.firstName}">first name</td>
            <td th:text="${UserModel.lastName}">last name</td>
            <td th:text="${UserModel.employeeType}">department</td>
            <td th:text="${UserModel.logInName}">user name</td>
            <td><button><a th:href="@{'/update_user/' + ${UserModel.logInName}}">rediger</a></button></td>
            <td th:unless="${session.delete}"><form method="post" th:action="@{'/delete_user/' + ${UserModel.logInName}}"><input type="text" value="true" name="delete" hidden><button>SLET</button></form></td></form>
        </tr>
        <td><button><a href="/create_user">opret bruger</a></button></td>

    </tbody>
</table>


</body>
</html>