<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>bilstatistik</title>

</head>

<body>
    <div class="container-fluid">

        <div class="scrollable" style="height:150px; overflow-y: auto">
        <table>
            <tr th:each="Car : ${cars}">
                <td th:text="${Car.carID}"> test  id</td>
                <td th:text="${Car.color}"> color</td>
                <td th:text="${Car.manufacturer}"> </td>
                <td th:text="${Car.carType}"> </td>
                <td th:text="${Car.carName}"> </td>
                <td th:text="${Car.carPricePerMonthDKK}"> </td>
                <td th:text="${Car.chassisNumber}"> </td>
                <td th:text="${Car.gearLevel}"> </td>
                <td th:text="${Car.steelPriceDKK}"> </td>
                <td th:text="${Car.registrationFeeDKK}"> </td>
                <td th:text="${Car.CO2EmissionPerKM}"> </td>
            </tr>
        </table>
        </div>
    </div>
    <a href="/create_car"><button type="submit">Opret ny bil</button></a>
</body>
</html>