<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Skadesrapport Dashboard</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <link rel="stylesheet" href="/static/styling.css" th:href="@{/static/styling.css}">

</head>


<body class="body">

<header th:replace="fragments/headers :: header-normal">
    header will be here
</header>
<div th:replace="fragments/page_menu :: normal_menu">
    link menu will be here
</div>

<div class="content">


    <table class="table">


        <div th:each="Contract : ${allContracts}">
            <tr class="table-dark">
                <td>Kontrakt ID: [[${Contract.contractID}]]</td>
                <td>Kunde ID: [[${Contract.customerID}]]</td>
                <td colspan="5"></td>
            </tr>


            <div th:each="Lease : ${listOfLeases}">
                <tr th:if="${Lease.contractID} == ${Contract.contractID}">
                    <td>
                        <p>Lease ID: [[${Lease.leaseID}]]</p>
                    </td>

                    <td>
                        <p>Car ID: [[${Lease.carID}]]</p>
                    </td>

                    <!-- If lease has a damageReport this show-->
                    <div th:each="damageReport : ${listOfDamageReports}">
                        <div th:if="${damageReport.car_id} == ${Lease.contractID}">
                            <td>Skadesrapport ID :
                                [[${damageReport.damage_report_id}]]
                            </td>


                            <td>
                                <a th:href="@{'damage_report/'+${damageReport.contract_id}+'/'${damageReport.car_id}}">
                                    <button class="btn btn-primary btn-sm" type="button">Åben</button>
                                </a>

                                <a th:href="@{'/edit_damage_report/'+${damageReport.contract_id}+'/'+${damageReport.car_id}}">
                                    <button class="btn btn-primary btn-sm" type="button">Redigere</button>
                                </a>

                                <a th:href="@{/{damage_report_id}/delete_damage_report(damage_report_id = ${damageReport.damage_report_id})}">
                                    <button class="btn btn-danger btn-sm" type="button">Slet</button>
                                </a>
                            </td>
                        </div>


                        <!-- If does not have a damageReport this show-->
                        <div th:unless="${damageReport.car_id} == ${Lease.contractID}">
                            <td colspan="3"></td>

                            <td >
                                <a th:href="@{/{contract_id}/{car_id}/create_damage_report_form(contract_id = ${Lease.contractID}, car_id = ${Lease.CarID})}">
                                    <button class="btn btn-primary btn-sm" type="button">Ny Skaderapport</button>
                                </a>
                            </td>
                        </div>
                    </div>
                </tr>
            </div>
        </div>
    </table>



</div>


</body>
</html>