<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>change_password</title>
</head>
<header th:replace="fragments/headers :: header-normal">
    header comes in here
</header>
<body>
<form method="post" action="/setpassword">
    <input type="password" name="old_password" placeholder="password" required>
    <input type="password" name="first_new_password" placeholder="nyt password" required>
    <input type="password" name="second_new_password" placeholder="nyt password" required>
    <input type="submit" value="accepter">
    <button><a th:href="@{'/administrator/' + ${logInName}}" >fortryd</a></button>
</form>
</body>
</html>