<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update_user_information</title>
</head>
<body>
    <form method="post" action="/update_user_information">

        <input type="text" name="first_name" th:value="${user.firstName}">
        <input type="text" name="last_name" th:value="${user.lastName}">
        <input type="text" name="log_in_name" th:value="${user.logInName}">
        <input list="user_types" name="user_type" th:placeholder="${user.employeeType}" required>

        <datalist id="user_types">
            <option value="admin">
            <option value="dataregistrering">
            <option value="forretningsudvikler">
            <option value="skade- og mangler">
        </datalist>
    </form>
</body>
</html>